# Irrelevant folders for anyone looking at the code
project-workspace-adjusting-results/
project-workspace-calculating-results/
project-workspace-classify-uploaded-images/
project-workspace-classifying-images/
project-workspace-command-line-arguments/
project-workspace-final-results/
project-workspace-pet-image-labels/
project-workspace-printing-results/
project-workspace-timing/

# Hint files
data\adjust_results4_isadog_hints.py
data\calculates_results_stats_hints.py
data\classify_images_hints.py
data\get_input_args_hints.py
data\get_pet_labels_hints.py
data\print_results_hints.py
